# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Andersen\Task-1(Hello world_GIT)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
